alembic==0.8.5
click==6.3
decorator==4.0.9
Flask==0.10.1
Flask-Migrate==1.8.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-UUID==0.2
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.8
Mako==1.0.4
MarkupSafe==0.23
numpy==1.11.0
pandas==0.18.0
pep8==1.7.0
psycopg2==2.6.1
python-dateutil==2.5.3
python-editor==0.5
pytz==2016.4
scikit-learn==0.17.1
scipy==0.17.0
six==1.10.0
sklearn==0.0
SQLAlchemy==1.0.12
Werkzeug==0.11.4
